%% -*- erlang -*-
[
    {elvis, [
        {config, [
            #{
                dirs => ["src"],
                filter => "*.erl",
                ruleset => erl_files,
                rules => [{elvis_style, no_block_expressions, disable}]
            },
            #{
                dirs => ["test"],
                filter => "*.erl",
                ruleset => erl_files,
                rules => [
                    {elvis_style, no_block_expressions, disable},
                    {elvis_style, no_debug_call, disable}
                ]
            }
        ]}
    ]}
].

%%%_* Emacs ====================================================================
%%% Local Variables:
%%% allout-layout: t
%%% erlang-indent-level: 2
%%% End:
