{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_export_vars,
    warn_unused_import,
    warn_keywords
]}.

{dialyzer, [
    {plt_apps, all_deps},
    incremental,
    {warnings, [unmatched_returns]}
]}.

{overrides, [
    {override, jose, [{erl_opts, [debug_info, no_warnings_as_errors]}]}
]}.

{deps, [ {jsx, {git, "https://github.com/talentdeficit/jsx.git"  , {tag, "v3.1.0"}}}
       , {jose, {git, "https://github.com/potatosalad/erlang-jose.git" , {tag, "1.11.5"}}}
       , {hackney, {git, "https://github.com/benoitc/hackney.git"  , {tag, "1.18.0"}}}
       ]}.

{shell, [{config, "config/sys.config"},
         {apps, [id_token]}
        ]}.

{project_plugins, [
    {rebar3_proper, "0.12.1"},
    {rebar3_lint, "3.2.6"}
]}.

{profiles,
    [{test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [ {proper, "1.4.0"}
               , {meck, "0.8.13"}
               ]}
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
