{erl_opts, [debug_info]}.
{deps, [ {jsx, "2.10.0"},
         {jose, "1.9.0"},
         {hackney, "1.15.2"}
       ]}.

{shell, [{config, "config/sys.config"},
         {apps, [id_token]}
        ]}.

{project_plugins, [rebar3_proper]}.

{profiles,
    [{test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [proper]}
    ]}
]}.
