[{id_token,
   [ { providers
     , [ #{ name => google
         , well_known_uri => <<"https://accounts.google.com/.well-known/openid-configuration">>}
       , #{ name => microsoft
         , well_known_uri => <<"https://login.microsoftonline.com/common/.well-known/openid-configuration">>}
       ]
     }
   ]
 }].
