[{id_token,
   [ { providers
     , [ {google, <<"https://accounts.google.com/.well-known/openid-configuration">>}
       , {microsoft, <<"https://login.microsoftonline.com/common/.well-known/openid-configuration">>}
       ]
     }
   , {sign_keys, [{<<"ES256">>, #{ttu => 10}}]}
   , {pubkeys_storage_module, ets_pubkeys_storage}
   ]
 }].
